.navbar {
    margin-bottom: 25px;
}

.navbar-brand {
    font-size: 30px;
}

.list-group-block {
	margin-bottom: 20px;
}

.list-group-header {
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.list-group-header .title {
    font-size: 30px;
}

.list-group-header .description {
    font-size: 16px;
    color: #aaa;
}

.list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group .list-group-item:last-child {
    border-bottom-color: #007bff;
}

.list-group .list-group-item {
    cursor: pointer;
    border-left-color: #007bff;
    border-right-color: #007bff;
}

.list-group .list-group-item .title {
    font-size: 20px;
}

.list-group .list-group-item .description {
    font-size: 14px;
    color: #aaa;
}

.list-group .list-group-item.completed div {
    text-decoration: line-through;
    color: #ccc;
}

form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.empty-list {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    font-size: 22px;
    background-color: #f8f8f8;
    padding: 20px;
}

.invalid-feedback {
    display: block;
}