<div class="fluid-container" ng-controller="listController">
    <div class="col-sm">
        <form name="listForm" novalidate>
            <div class="form-group">
                <label for="listName">Name</label>
                <input type="text" class="form-control" name="name" id="listName" ng-model="list.name" ng-required="true" />
                <div ng-show="listForm.name.$error.required && listForm.name.$dirty" class="invalid-feedback">Please
                    choose a list name.</div>
            </div>
            <div class="form-group">
                <label for="listDescription">Description</label>
                <input type="text" class="form-control" name="description" id="listDescription" ng-model="list.description" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="addItem(list)">Add Item</button>
            </div>
            <div ng-repeat="item in list.items">
                <div class="form-group text-right">
                    <button class="btn btn-outline-danger" ng-click="removeItem(list, $index)">Remove Item</button>
                </div>
                <div class="form-group">
                    <label for="itemName{{$index}}">Name</label>
                    <input type="text" class="form-control" id="itemName{{$index}}" ng-model="list.items[$index].name" name="name" />
                </div>
                <div class="form-group">
                    <label for="itemDescription{{$index}}">Description</label>
                    <input type="text" class="form-control" id="itemDescription{{$index}}" ng-model="list.items[$index].description"
                        name="description" />
                </div>
                <hr>
            </div>
            <button class="btn btn-primary" ng-click="createList(list)" ng-disabled="listForm.$invalid">Create List</button>
        </form>
    </div>
</div>