<div class="col list-group-block">
    <div class="list-group-header bg-primary">
        <div class="row row-eq-height">
            <div class="col">
                    <div class="title">{{::title}}</div>
                    <div class="description">{{::description}}</div>
                </div>
            <div class="col text-right">
                <a class="btn btn-primary" href="#!/update/{{listKey}}">Edit</a>
                <button class="btn btn-danger" ng-click="removeList(lists, listKey)">Remove</button>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(itemKey, item) in list.items" ng-class="{'completed': item.completed}"
                ng-click="changeCompleted(lists, listKey, itemKey)">
                <span>{{::item.description}}</span>
                <div class="float-right" ng-show=item.completed>COMPLETED!</span>
            </li>
        </ul>
    </div>
</div>