<div class="list-group-header border border-bottom-0 border-primary">
    <div class="row">
        <div class="col">
            <div class="title text-primary">{{::title}}</div>
            <div class="description">{{::description}}</div>
        </div>
        <div class="col align-self-center text-right">
            <a class="btn btn-outline-primary" href="{{update}}" ng-show="update">Edit</a>
            <!--button class="btn btn-danger" ng-click="removeList(lists, listKey)">Remove</button-->
        </div>
    </div>
</div>